.box {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #053278;
  color: #fff;
  &__wrap {
    display: flex;
    align-items: center;
  }
  &__plus {
    font-size: 80px;
    font-weight: 900;
    margin-right: 30px;
  }
  p {
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 22px;
    margin-bottom: 20px;
  }
  &__vr {
    height: 80px;
    margin-right: 30px;
  }
  &__suprise {
    height: 80px;
  }
}
