.main {
  background-color: #161616e9;
  padding: 120px 40px 40px;
  color: #828282;
  width: 100%;
  min-height: 100vh;
  max-width: 550px;
  @media (max-width: 900px) {
    max-width: 100%;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  div {
    width: 100%;
    display: flex;
    @media (max-width: 500px) {
      flex-wrap: wrap;
    }
  }
  & &__header {
    margin-bottom: 20px;
    h1 {
      width: 100%;
      text-align: center;
      color: #fff;
      font-weight: 900;
      letter-spacing: 1px;
      font-size: 22px;
    }
  }
  & &__description {
    margin-bottom: 20px;
    p {
      width: 100%;
      text-align: center;
    }
  }

  input {
    width: 100%;
    height: 40px;
    background-color: #222;
    border-radius: 4px;
    border: none;
    padding: 10px 20px;
    color: #eee;
    font-family: "Roboto", sans-serif;
    &:nth-child(2) {
      @media (min-width: 500px) {
        margin-left: 10px;
      }
    }
    &::placeholder {
      color: #a0a0a0;
      font-weight: 300;
      font-family: "Roboto", sans-serif;
    }
  }
  input[type="text"],
  input[type="email"] {
    border: 1px solid transparent;
    margin-bottom: 10px;
    &:focus {
      outline: none;
      border: 1px solid #12c2e9;
    }
  }
  input[type="checkbox"] {
    background-color: #ccc;
    appearance: none;
    width: 0;
    height: 0;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: background 0.5s;
    &:checked {
      background: #12c2e9;
    }
  }
  label[for="consent"] {
    font-size: 12px;
    text-align: justify;
    cursor: pointer;
    width: calc(100% - 30px);
  }
  input[type="submit"] {
    cursor: pointer;
    background: rgb(18, 194, 233);
    background: linear-gradient(
      90deg,
      rgba(18, 194, 233, 1) 0%,
      rgba(196, 113, 237, 1) 35%,
      rgba(246, 79, 89, 1) 100%
    );
    font-weight: 900;
    text-transform: uppercase;
    width: calc(50% - 10px);
    margin-top: 30px;
    margin-left: auto;
    &:hover {
      opacity: 0.8;
    }
  }
}
h2{
  margin-top: 100px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 40px;
}