nav {
  position: fixed;
  width: 100%;
  padding: 20px 40px;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    height: 80px;
    padding: 10px;
    border-radius: 15px;
    background-color: #fff;
    transform: rotate(5deg);
    img {
      height: 100%;
    }
  }
  .menubtn {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/ankieta/img/menu.svg");
    background-size: 30px;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}
@keyframes menuOpen {
  0% {
    top: 100px;
  }
  100% {
    top: 120px;
  }
}

.menu {
  display: none;
  &.open {
    display: flex;
  }
  position: fixed;
  top: 120px;
  animation: menuOpen 0.25s ease-in-out;
  right: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  background-color: #161616;
  border-radius: 15px;
  padding: 10px 40px;
  @media (max-width: 675px) {
    padding: 30px 40px;
  }
  width: calc(100% - 80px);
  max-width: 470px;
  margin: 0 40px;
  &__item {
    width: 100%;

    &__link {
      color: #ccc;
      font-weight: 700;
      text-decoration: none;
      display: block;
      padding: 10px;
      transition: color 0.5s;
      &::selection {
        background-color: transparent;
      }
      &:hover {
        color: #fff;
      }
    }
  }
}
