@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "main";
@import "nav";
@import "box";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: rgb(0, 0, 70);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 70, 1) 0%,
    rgba(28, 181, 224, 1) 100%
  );
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  @media (max-width: 900px) {
    flex-wrap: wrap;
  }
}
body > .img {
  width: calc(100% - 550px);
  position: relative;
  animation: imgSiup 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 900px) {
    width: 100%;
    order: 2;
    margin-top: 100px;
  }
  img {
    max-width: 600px;
  }
}

@keyframes imgSiup {
  from {
    bottom: -1000px;
  }
  to {
    bottom: 0px;
  }
}
